{% load static %}
<html lang="ja">
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>商品検索</title>
		<link rel='stylesheet' type='text/css' href='{% static "shopping/style.css" %}' />
	</head>
	<body>
		<h3>商品の検索を行います。</h3>
		<br />
		<form action='{% url "search_result"  %}' method='POST'>
        {% csrf_token %}
			<br />
            <label>キーワード
                <input type='text' name='keywords' />
            </label>
            <br />

            <label>カテゴリ
                <select name='category'>
                    <option selected value="all">すべて</option>
                    {% for category in categories %}
                        <option selected value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </label><br />
			<input type='submit' value='検索' /><br />
		</form>
		<a href='{% url "cart" %}'>ショッピングカートを見る</a><br /><br />
        {% if not user_id %}
		※ログインしていない場合には以下を表示<br />
		    <a href='{% url "login" %}'>ログイン</a><br /><br />
        {% else %}
            ※ログイン済の場合には以下を表示<br />
            <a href='../../accounts/updateUser.html'>会員情報の変更</a><br />
        {% endif %}
	</body>
</html>